/* Global Settings */

* {
	box-sizing: border-box;
}

body {
	background-color: #ff8da1;
   height: 100vh;
   display: table;
   margin: auto;
}
	
div.wrapper {
   border: 2px solid black;
   background: linear-gradient(white, rgb(160, 231, 192));
   margin-left: 0px;
   margin-right: 0px;
   width: 960px;
   box-shadow: 3px 3px 1px black;
}

img {
   max-width: 100%;
}

/* Nav/Header */

header {
   background-color: #A0D9EF;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 5px;
}

header h1 {
   margin-left: 1rem;
   font-size: 300%;
}

header h1 a {
   text-decoration: none;
   color: black;
}

nav {
   display: flex;
   justify-content: space-evenly;
   gap: 1rem;
   padding: 1rem;
 }
 
 nav li {
   display: inline-block;
   background-color: #ff8da1;
   transform: skew(-30deg);
   padding: 1rem 1.5rem;
   text-decoration: none;
   color: white;
   border: .25px solid black;
 }
 
 nav li span {
   display: inline-block;
   transform: skew(30deg);
   font-weight: bold;
 }

 nav li:hover {
   background-color: rgb(160, 231, 192);
 }

 nav a {
   color: black;
 }

 /* Homepage CSS */


 /* Community CSS */


 /* Schedule CSS */


 /* About Page CSS */


 /* FAQ CSS */
/* OUTER DRAWER
---------------------------- */

.drawer {
   background-color: white;
  margin-bottom: 1rem;
  margin-left: 1rem;
  border: 2px solid black;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
   font-size: 125%;
   width: 600px;
}


.drawer a {
   color: black;
  padding: 1em;
   display: block;
}


.drawer a:hover {
  background-color: #999999;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
   color: white;
}



/* INNER DRAWER
---------------------------- */

.inner {
  background-color: #EEEEEE;
   border-top: 1px solid black;
  line-height: 130%;
  font-size: .9em;
  padding: 1em 2em;
  box-shadow: inset 0px 0px 25px #00000075;
  display:none; 
}

.inner a,
.inner a:hover {
  padding: 0;
  background-color: #EEEEEE;
}
        